@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
    font-family: 'Circular';
    src: url('./_assets/fonts/circular/CircularStd-Medium.otf') format('woff2'),
    url('./_assets/fonts/circular/CircularStd-Medium.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('./_assets/fonts/avenir-next/AvenirNextLTPro-MediumCn.otf') format('woff2'),
    url('./_assets/fonts/avenir-next/AvenirNextLTPro-MediumCn.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Avenir Next', sans-serif;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('./_assets/image/Animated Shape.svg');
    background-attachment: fixed;
}

#background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -99999999;
    /*background-image: radial-gradient(*/
    /*circle at top right,*/
    /*white 40px,*/
    /*#6c757d*/
    /*);*/
    background-image: url('./_assets/image/Animated Shape.svg');
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    background: #1F2937; /* Tailwind's gray-800 */
    color: white; /* Tailwind's gray-300 */
    border: none;
}

.password-input {
    -webkit-text-security: disc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.password-input[type="text"] {
    -webkit-text-security: none;
}

.nav-link-background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 12px;
    background-image: radial-gradient(circle at center, rgba(45, 93, 113, 1), rgba(18, 31, 36, 1));
}
.nav-logout-background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 12px;
    background-image: radial-gradient(circle at center, rgba(245, 99, 91, 0.71), rgba(245, 99, 91, 0.15));
}
.glowing-dot{
    width: 6px;
    height: 6px;
    background-color: #00aaff;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(0, 170, 255, 0.5);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
